@charset "utf-8";

#galleria { 
	width: 100%; 
	height: 379px; 
	background: #fff;
}

a {
	outline: none;
}

html {
	background-color: #000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#151515), to(#292714)); 
	background: -webkit-linear-gradient(top, #001515, #001515, #292714); 
	background: -moz-linear-gradient(top, #001515, #001515, #292714); 
	background: -ms-linear-gradient(top, #001515, #001515, #292714); 
	background: -o-linear-gradient(top, #001515, #001515, #292714);
	background-attachment: fixed;
	height: 100%;
}

body {
	margin: 0;
	min-width: 1080px;
	background-attachment: fixed;
	background-repeat: repeat-x repeat-y;
	height: 100%;
}

body > .header {
	padding: 0;
}

body > ul.topbar {
	background-color: rgba(0,0,0,.5);
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	height: 30px;
}

body > .topbar > li {
	color: #FFF;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 13px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	float: left;
	margin: 7px 10px;
	padding: 0;
}

body > .topbar > li > a,
body > .topbar > li > a:visited {
	color: #989053;
	text-decoration: none;
	opacity: .9;
	
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

body > .topbar > li > a:hover,
body > .topbar > li > a:active,
body > .topbar > li > a:focus {
	opacity: 1;
}

body > .topbar > li#login {
	float: right;
}

body > .header > .logo {
	width: 450px;
	margin: 40px auto;
	opacity: 1;
	
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

body > .header > .logo:hover {
	opacity: .8;
}

.body > .mainmenu > ul {
	padding: 0;
	list-style: none;
	float: left;
	margin: 0 0 0 -210px;
	position: absolute;
	top: 340px;
	border-right: 2px solid #4b4727;
	border-top: 2px solid #4b4727;
	border-bottom: 2px solid #4b4727;
	background-color: #4a4a4a;
	z-index: 9;
	box-shadow: 3px 3px 3px rgba(0,0,0,.3);
	/*opacity: .8;*/
		
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .mainmenu > ul:hover {
	margin: 0;
	background: none;
	background-color: #4a4a4a;
	border-top: 2px solid #99903F;
	border-bottom: 2px solid #99903F;
	border-right: 2px solid #99903F;
}

.body > .mainmenu > ul > li > a,
.body > .mainmenu > ul > li > a:visited {
	display: block;
	width: 250px;
	margin: 0;
	color: #fff;
	font-family: 'RobotoCondensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 26px;
	text-decoration: none;
	padding: 17px 0 17px 17px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,.1);
	border-right: 5px solid rgba(0,0,0,.3);
	border-bottom: 1px solid #333;
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .mainmenu > ul > li > a:hover,
.body > .mainmenu > ul > li > a:active,
.body > .mainmenu > ul > li > a:focus {
	background-color: #999;	
	color: #fff;
}

.body > .mainmenu > ul > li > a.current {
	border-right: 1px solid #99903F;
}

.body > .mainmenu > ul > li:last-child > a {
	border-bottom: 0px solid #99903F;
}

.body > .main {
	display: block;
	width: 890px;
	margin: 0 auto;
	box-shadow: 3px 3px 5px rgba(0,0,0,.3);
	cursor: default;
	background-color: rgba(0,0,0,.1);
	
	/*Transition*/	
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
	-ms-transition: All 0.3s ease;
	transition: All 0.3s ease;
}

.body > .main > .submenu {
	height: 61px;
	background-color: #666;
	border-right: 1px solid rgba(0,0,0,.2);
	border-left: 1px solid rgba(255,255,255,.6);
	border-top: 1px solid rgba(255,255,255,.6);
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.body > .main > .submenu  > ul {
	list-style-type: none;
	float: left;
	padding: 0;
	width: 100%;
	margin: 0;
}

.body > .main > .submenu  > ul  > li {
	display: inline;
	margin: 0;
	float: left;
	height: 45px;
	padding-top: 16px;
	position: relative;
			
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .submenu  > ul  > li:hover {
	background-color: #99903F;
}

.body > .main > .submenu  > ul  > li.current {
	background-color: #888;
}

.body > .main > .submenu  > ul  > li > a,
.body > .main > .submenu  > ul  > li > a:visited {
	color: #fff;
	font-family: 'RobotoCondensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 26px;
	text-decoration: none;
	margin: 0;
	padding: 16px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,.2);
	border-left: 1px solid rgba(255,255,255,.2);
				
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .submenu > ul > li  > a:hover,
.body > .main > .submenu > ul > li  > a:active,
.body > .main > .submenu > ul > li  > a:focus {

}

.body > .main > .submenu  > ul  > li.current > a {
	border-top: 1px solid #99903F;
	border-bottom: 1px solid #99903F;
}

.body > .main h1 {
	color: #99903F;
	font-family: 'RobotoCondensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 28pt;
	margin-top: 30px;
	margin-bottom: 0;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
}

.body > .main .nopadding h1 {
	margin-left: 20px;
}

.body > .main h2 {
	color: #4b4727;
	font-family: 'RobotoCondensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 18pt;
	margin-top: 30px;
	margin-bottom: 0;
	font-weight: normal;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
}

.body > .main h3 {
	color: #99903F;
	font-family: Arial, 'Asap', "Trebuchet MS", Verdana, sans-serif;
	font-size: 11pt;
	margin-top: 16px;
	margin-bottom: 0;
	font-weight: bold;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
}

.body > .main p {
	color: #fff;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 9pt;
	line-height: 1.5em;
	margin-top: 0;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.body > .main h1+p {
	margin-top: 30px;
}

.body > .main p:first-child {
	margin-top: 20px;
}

.body > .main article > .author {
	color: #99903F;
	font-size: 11pt;
	margin-top: 16px;
	margin-bottom: 0;
	font-weight: bold;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
}

.body > .main article .time {
	color: #333;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 9pt;
	font-style: italic;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
}

.body > .main p > a,
.body > .main p > a:visited,
.body > .main table a,
.body > .main table a:visited {
	color: #99903F;
	text-decoration: none;
	padding: 1px 2px;
	margin: -1px -2px;
	cursor: pointer;
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main p > a:hover,
.body > .main p > a:active,
.body > .main p > a:focus,
.body > .main table a:hover,
.body > .main table a:active,
.body > .main table a:focus {
	background-color: rgba(255,255,255,.3);
}

.body > .main blockquote {
	color: #99903F;
	font-family: 'RobotoCondensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 16pt;
	font-style: italic;
	margin: 25px 0 5px 0;
	font-weight: normal;
	border-top: 1px solid #99903F;
	padding-top: 10px;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
	/*width: 259px;*/
}

.body > .main blockquote:first-child {
	margin: 85px 0 5px 0;
}

.body > .main div > a,
.body > .main div > a:visited {
	display: block;
	font-family: 'RobotoCondensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 14pt;
	color: #99903F;
	text-decoration: none;
	padding: 4px 0 3px 0;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main div > a:hover,
.body > .main div > a:active,
.body > .main div > a:focus {
	background-color: rgba(255,255,255,0.3);
}

.body > .main > .container {
	height: 551px;
	width: 100%;
	position: relative;
	background-color: rgba(0,0,0,.3);
}

.body > .main > .container > .left,
.body > .main > .container > .right,
.body > .main > .container > .full {
	overflow-y: auto;
	width: 257px;
	height: 550px;
	padding: 0 20px;
	margin-top: 0px;
	padding-bottom: 0px;
	border-right: 1px solid rgba(0,0,0,.3);
	border-left: 1px solid rgba(255,255,255,.2);
	border-top: 1px solid rgba(255,255,255,.2);
}

.body > .main > .container > .left {
	float: left;
	border-left: 1px solid rgba(255,255,255,.5);
}

.body > .main > .container > .right {
	float: right;
}

.body > .main > .container > .wide {
	width: 549px!important;
}

.body > .main > .container > .full {
	width: 848px!important;
}

.body > .main > .container > .half {
	width: 403px!important;
}

.body > .main > .container > .nopadding {
	width: 890px!important;
	padding: 0!important;
}

.body > .main > .container ul.articles {
	padding-left: 0;
	list-style: none;
	color: #4a4a4a;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 9pt;
	font-style: italic;
	margin-top: 10px;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
	margin-bottom: 10px;
}

.body > .main > .container ul.articles > li {
	padding: 4px 7px;
	padding-bottom: 6px;
	margin-bottom: 1px;
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .container ul.articles > li.current {
	background-color: rgba(255,255,255,0.3);
}

.body > .main > .container ul.articles > li:hover,
.body > .main > .container ul.articles > li:active,
.body > .main > .container ul.articles > li:focus {
	background-color: rgba(255,255,255,.3);
}

.body > .main > .container ul.articles a,
.body > .main > .container ul.articles a:visited  {
	color: #99903F;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	font-style: normal;
	margin-left: 5px;
	font-size: 11pt;
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main .overlay:after {
	background-color: rgba(128,128,128,0.8);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "Under Construction";
	text-align: center;
	color: rgba(255,255,255,.1);	
	font-family: 'RobotoCondensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 72pt;
	font-weight: bold;
	padding-top: 25%;
	text-shadow: -1px -1px rgba(0,0,0,.2);
}

.body > .main nav.breadcrumb {
	color: #fff;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 9pt;
	margin-top: 20px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.body > .main nav.breadcrumb ul {
	list-style: none;
	display: inline;
}

.body > .main nav.breadcrumb a,
.body > .main nav.breadcrumb a:visited {
	color: #fff;
	text-decoration: none;
	padding: 3px;
		
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main nav.breadcrumb li {
	float: left;
}

.body > .main nav.breadcrumb li:after {
	content: "\00bb";
	margin: 3px;
}

.body > .main nav.breadcrumb li:last-child:after {
	content: "";
}

.body > .main nav.breadcrumb a:hover,
.body > .main nav.breadcrumb a:active,
.body > .main nav.breadcrumb a:focus {
	background-color: #666;
}

.body > .main table.years {
	margin: 20px auto;
}

.body > .main table.years td {
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 11pt;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
	padding: 4px 0px;
	
}

.body > .main table.years td a,
.body > .main table.years td a:visited {
	opacity: 0.5;
	padding: 5px 6px;
	margin-right: 1px;
}

.body > .main table.years td a:hover,
.body > .main table.years td a:active,
.body > .main table.years td a:focus {
	border: none;
	opacity: 1;
}

.body > .main table.years .hasArticle {
	background-color: rgba(255,255,255,.3);
	font-weight: bold;
	opacity: 1;
}


.body > .main > .footer {
	width: 848px;
	background-color: #222;
	padding: 20px;
	border-right: 1px solid rgba(0,0,0,.1);
	border-left: 1px solid rgba(255,255,255,.5);
	border-top: 1px solid rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.body > .main > .footer > p {
	margin: 0;
	font-family: 'RobotoCondensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 12pt;
	color: #ccc;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.body > .main > .footer > p > a,
.body > .main > .footer > p > a:visited {
	color: #fff;
	text-decoration: none;
	padding: 4px;
	cursor: pointer;
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .footer > p > a:hover,
.body > .main > .footer > p > a:active,
.body > .main > .footer > p > a:focus {
	background-color: rgba(255,255,255,1);
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../webfont/Roboto-Condensed-webfont.eot');
    src: url('../webfont/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfont/Roboto-Condensed-webfont.woff') format('woff'),
         url('../webfont/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../webfont/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../webfont/Roboto-CondensedItalic-webfont.eot');
    src: url('../webfont/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfont/Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('../webfont/Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('../webfont/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../webfont/Roboto-BoldCondensed-webfont.eot');
    src: url('../webfont/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfont/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('../webfont/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('../webfont/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../webfont/Roboto-BoldCondensedItalic-webfont.eot');
    src: url('../webfont/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfont/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('../webfont/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('../webfont/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}




/*TEST*/
#s3slider {
    width: 889px; /* important to be same as image width */
    height: 500px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
	border-right: 0px solid rgba(0,0,0,.4);
	border-left: 1px solid rgba(255,255,255,.5);
	border-top: 1px solid rgba(255,255,255,.2);
}
 
#s3sliderContent {
    width: 890px; /* important to be same as image width or wider */
    position: absolute; /* important */
    top: 0; /* important */
    margin: 0; /* important */
	list-style: none;
	padding: 0;
}
 
.s3sliderImage {
    float: left; /* important */
    position: relative; /* important */
    display: none; /* important */
}
 
.s3sliderImage div {
	font-family:  Arial, "Trebuchet MS", sans-serif;
    position: absolute; /* important */
    padding: 30px 20px;
    width: 300px;
    background-color: rgba(0,0,0,.4);
    opacity: 1; /* here you can set the opacity of box with text */
    display: none; /* important */	
}

.s3sliderImage .left {left: 50px;}	/* You can combine  .left/.right/.fullWidth  with  .top/.bottom/.fullHeight  */
.s3sliderImage .right {right: 50px;}
.s3sliderImage .fullWidth {width: auto!important; left: 50px; right: 50px;}
.s3sliderImage .top {top: 0; padding: 30px 20px 8px 20px;}
.s3sliderImage .bottom {bottom: 0; padding: 4px 20px 34px 20px;}
.s3sliderImage .fullHeight {top: 0; bottom: 0;}

.s3sliderImage div h3 {
	color: #99903F!important;
	font-size: 11pt!important;
	font-weight: bold!important;
	text-shadow: 1px 1px rgba(0,0,0,0.2)!important;
}

.s3sliderImage div p {
	color: #ccc!important;
	text-shadow: 1px 1px rgba(0,0,0,0.2)!important;
}

.s3sliderImage div img {
	width: 300px;
}

.s3sliderImage div a {
	text-shadow: 1px 1px rgba(0,0,0,0.4)!important;
}

.s3sliderImage div a:hover,
.s3sliderImage div a:active,
.s3sliderImage div a:focus {
	background-color: rgba(255,255,255,.1)!important; /*rgba(102,102,102,.4)!important;*/
}

.s3sliderImage .slideNumber {
	position: absolute; /* important */
	bottom: 0; 
	left: 0;
	font-size: 8pt;
	display: block;
	opacity: 0.3;
	padding: 10px 10px 14px 10px;
	margin: 0;
	background-color: rgba(0,0,0,.5);
	width: 30px;
	text-align: center;
	color: #ccc!important;
	text-shadow: 1px 1px rgba(0,0,0,0.2)!important;
}
 
.clear {
    clear: both;
}
