@charset "utf-8";

@font-face
{
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	     url('fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	     url('fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype'),
	     url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Font-Awesome-Social';
	src: url('fonts/fontawesome-social-webfont.eot');
	src: url('fonts/fontawesome-social-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/fontawesome-social-webfont.woff') format('woff'),
		 url('fonts/fontawesome-social-webfont.ttf') format('truetype'),
		 url('fonts/fontawesome-social-webfont.svg#Font-Awesome-More') format('svg');
	font-weight: normal;
	font-style: normal;
}


#galleria { 
	width: 100%; 
	height: 379px; 
	background: none;
}

a {
	outline: none;
}

html {
	background-color: #c4d5db;
	background-image: url('../img/bg2.png');
	background-repeat: repeat-x;
	height: 100%;
}

a img {
	border: none;
}

body {
	margin: 0;
	min-width: 1080px;
	height: 100%;
	position: relative;
}

/*#crossA, #crossB, #crossC {
	background-repeat: repeat-x repeat-y;
	background-attachment: fixed;
	background-position: 15% 15%;
	z-index: 100;
	
	height: 100%;
	position: abolute;
	top: 0; left: 0; right: 0; bottom: 0;
}

#crossA {background-image: url('../img/crossA.png');}
#crossB {background-image: url('../img/bg-grid-h.png');}
#crossC {
	background-image: url('../img/bg-grid-v.png');
	overflow: auto;
}*/

/*#bg-container {
	background-image: url('../img/crossA.png');
	background-repeat: repeat-x repeat-y;
	background-attachment: fixed;
	height: 100%;
	overflow: auto;
}*/

#bg-container {
	background: url('../img/backgroundSC.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: .3;
	position: absolute;
	top:0;bottom:0;left:0;right:0;
	z-index: -1;
}

ul.topbar {
	background-color: rgba(0,0,0,.5);
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	height: 30px;
	/*position: fixed;*/
}

.topbar > li {
	color: #fff;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 13px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	float: left;
	margin: 7px 10px;
	padding: 0;
}

.topbar > li > a,
.topbar > li > a:visited {
	color: #fff;
	text-decoration: none;
	opacity: .7;
	
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.topbar > li > a:hover,
.topbar > li > a:active,
.topbar > li > a:focus {
	opacity: 1;
}

.topbar > li#sound-toggle {
	float: right;
	cursor: pointer;
}

.header {
	padding: 0;
}

.header > .logo {
	width: 350px;
	margin: /*70px auto*/ 40px auto;
	opacity: 1;
	
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.header > .logo:hover {
	opacity: .8;
}

.body > .mainmenu > .arrow {
	float: left;
	margin: 0 0 0 -200px;
	position: absolute;
	top: 261px;
	background: url('../img/arrow.png') 100% 13px no-repeat;
	z-index: 10;
	width: 267px;
	height: 100px;
	opacity: .5;

	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .mainmenu > .arrow2 {
	float: left;
	margin: 0 0 0 -200px;
	position: absolute;
	top: 261px;
	background: url('../img/arrow2.png') 100% 13px no-repeat;
	z-index: 11;
	width: 267px;
	height: 100px;
	animation: fade 3s infinite;
	opacity: 0;

	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

@keyframes fade {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

.body > .mainmenu > ul {
	padding: 0;
	list-style: none;
	float: left;
	margin: 0 0 0 -200px;
	position: absolute;
	top: 261px;
	border-right: 1px solid #66ddff;
	border-top: 1px solid #4a4a4a;
	border-bottom: 1px solid #4a4a4a;
	background-color: #4a4a4a;
	z-index: 9;
	box-shadow: 3px 3px 5px rgba(0,0,0,.3);
	/*opacity: .8;*/
		
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .mainmenu > ul:hover {
	margin: 0;
	background: none;
	background-color: #4a4a4a;
	border-top: 1px solid #66ddff;
	border-bottom: 1px solid #66ddff;
	border-right: 1px solid #66ddff;
	box-shadow: 0px 0px 25px rgba(102,221,255,.5);
}

.body > .mainmenu > ul > li > a,
.body > .mainmenu > ul > li > a:visited {
	display: block;
	width: 250px;
	margin: 0;
	color: #fff;
	font-family: 'Roboto Condensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 26px;
	text-decoration: none;
	padding: 17px 0 17px 17px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .mainmenu > ul > li > a:hover,
.body > .mainmenu > ul > li > a:active,
.body > .mainmenu > ul > li > a:focus {
	background-color: #666;	
	color: #66ddff;
	border-right: 0px solid #66ddff;
}

.body > .mainmenu > ul > li > a.current {
	background-color: #666;
}

.body > .mainmenu > ul > li:after > a.current {
	content: " <img src="../img/arrow.png" />";
}

.body > .main {
	display: block;
	width: 890px;
	margin: 0 auto 20px auto;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	border: 1px solid #333;
	cursor: default;
	background-color: rgba(74,74,74,.8);
	
	/*Transition*/	
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
	-ms-transition: All 0.3s ease;
	transition: All 0.3s ease;
}

.body > .main > .submenu {
	height: 62px;
	background-color: rgba(0,0,0,.3); /*51,51,51,.8*/
}

.body > .main > .submenu  > ul {
	list-style-type: none;
	float: left;
	padding: 0;
	width: 100%;
	margin: 0;
}

/*
.body > .main > .submenu  > ul.crumb > li:after,
.body > .main > .submenu  > ul.crumb > li:before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 0px;
	width: 0;
	border: 31px solid transparent;
}

.body > .main > .submenu  > ul.crumb > li:after {
	left: 100%;
	border-left-color: #333;
	
	/*Transition	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .submenu  > ul.crumb > li.current:after {
	border: 31px solid transparent;
	border-left-color: #666;
	z-index: 0;
}

.body > .main > .submenu  > ul.crumb  > li:hover:after {
	border: 31px solid transparent;
	border-left-color: #666;
}

.body > .main > .submenu  > ul.crumb > li > a {
	padding: 17px 0 17px 44px;
}

.body > .main > .submenu  > ul.crumb > li:first-child > a {
	padding: 17px 0 17px 17px;
}

.body > .main > .submenu  > ul.crumb > li.current:before {
	border: 31px solid transparent;
	border-left-color: #333;
}

.body > .main > .submenu  > ul.crumb > li:hover:before {
	border: 31px solid transparent;
	border-left-color: #333;
} 

.body > .main > .submenu  > ul.crumb > li:first-child:hover:before {
	border: 31px solid transparent!important;
} */

.body > .main > .submenu  > ul.crumb > li > a:after {
	content: ">";
	margin-left: 15px;
	color: #aaa;
}

.body > .main > .submenu  > ul.crumb > li > a {
	padding-right: 5px;
}

.body > .main > .submenu  > ul  > li {
	display: inline;
	margin: 0;
	float: left;
	height: 45px;
	padding-top: 17px;
	position: relative;
			
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .submenu  > ul  > li:hover {
	background-color: #666;
}

.body > .main > .submenu  > ul  > li.current {
	background-color: #666;
}

.body > .main > .submenu  > ul  > li > a,
.body > .main > .submenu  > ul  > li > a:visited {
	color: #fff;
	font-family: 'Roboto Condensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 26px;
	text-decoration: none;
	margin: 50;
	padding: 17px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
				
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .submenu > ul > li  > a:hover,
.body > .main > .submenu > ul > li  > a:active,
.body > .main > .submenu > ul > li  > a:focus {
	color: #66ddff;
	border-top: 1px solid #66ddff;
}

.body > .main > .submenu  > ul  > li.current > a {
	border-top: 1px solid #66ddff;
	padding: 17px!important;
}

.body > .main > .submenu  > ul  > li.current > a:after {
	display:none;
}

.body > .main h1 {
	/*color: #c4d5db;*/
	color: #9fd4e7;
	font-family: 'Roboto Condensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 28pt;
	margin-top: 30px;
	margin-bottom: 0;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.body > .main .nopadding h1 {
	margin-left: 20px;
}

.body > .main h2 {
	color: #fff;
	font-family: 'Roboto Condensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 18pt;
	margin-top: 30px;
	margin-bottom: 5px;
	font-weight: normal;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.body > .main h3 {
	color: #9fd4e7;
	font-family: Arial, 'Asap', "Trebuchet MS", Verdana, sans-serif;
	font-size: 11pt;
	margin-top: 16px;
	margin-bottom: 0;
	font-weight: bold;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.body > .main h4 {
	color: #fff;
	font-family: Arial, "Trebuchet MS", sans-serif;
	font-size: 10.2pt;
	line-height: 1.5em;
	margin-top: 5px;
	font-weight: normal;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.body > .main p {
	color: #fff;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 10pt;
	line-height: 1.5em;
	margin-top: 0;
	text-shadow: 1px 1px rgba(0,0,0,0.35);
}

.body > .main h1+p {
	margin-top: 30px;
}

.body > .main p:first-child {
	margin-top: 20px;
}

.body > .main article > .author {
	color: #9fd4e7;
	font-size: 11pt;
	margin-top: 16px;
	margin-bottom: 0;
	font-weight: bold;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.body > .main article .time {
	color: #ccc;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 9pt;
	font-style: italic;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.body > .main p > a,
.body > .main p > a:visited,
.body > .main table a,
.body > .main table a:visited {
	color: #66ddff;
	text-decoration: none;
	padding: 1px 2px;
	margin: -1px -2px;
	cursor: pointer;
	border-bottom: 1px solid rgba(102,221,255,0);
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main p > a:hover,
.body > .main p > a:active,
.body > .main p > a:focus,
.body > .main table a:hover,
.body > .main table a:active,
.body > .main table a:focus {
	background-color: rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(102,221,255,1);
}

.body > .main blockquote {
	color: #9fd4e7;
	font-family: 'Roboto Condensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 16pt;
	font-style: italic;
	margin: 25px 0 5px 0;
	font-weight: normal;
	border-top: 1px solid #9fd4e7;
	padding-top: 10px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	/*width: 259px;*/
}

.body > .main blockquote:first-child {
	margin: 85px 0 5px 0;
}

.body > .main div > a,
.body > .main div > a:visited {
	display: block;
	font-family: 'Roboto Condensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 14pt;
	color: #66ddff;
	text-decoration: none;
	padding: 4px 0 3px 0;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(102,221,255,0);
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main div > a:hover,
.body > .main div > a:active,
.body > .main div > a:focus {
	background-color: rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(102,221,255,1);
	color: #fff;
}

.body > .main > .container {
	height: 550px;
	width: 100%;
	position: relative;
}

.body > .main > .container > .left,
.body > .main > .container > .right,
.body > .main > .container > .full {
	overflow-y: auto;
	width: 269px;
	height: 550px;
	padding: 0 20px;
	margin-top: 0px;
	padding-bottom: 0px;
}

.body > .main > .container > .left {
	float: left;
	border-right: 1px solid #333;
	padding-right: 10px;
}

.body > .main > .container > .right {
	float: right;
	padding-right: 10px;
}

.body > .main > .container > .wide {
	width: 560px!important;
}

.body > .main > .container > .full {
	width: 850px!important;
}

.body > .main > .container > .half {
	width: 414px!important;
}

.body > .main > .container > .nopadding {
	width: 890px!important;
	padding: 0!important;
}

.body > .main > .container ul.articles {
	padding-left: 0;
	list-style: none;
	color: #ccc;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 9pt;
	font-style: italic;
	margin-top: 10px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	margin-bottom: 10px;
}

.body > .main > .container ul.articles > li {
	padding: 4px 7px;
	padding-bottom: 6px;
	margin-bottom: 1px;
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .container ul.articles > li.current {
	background-color: rgba(255,255,255,.1);
	color: #fff;
}

.body > .main > .container ul.articles > li:hover,
.body > .main > .container ul.articles > li:active,
.body > .main > .container ul.articles > li:focus {
	color: #FFF;
	background-color: rgba(255,255,255,.1);
	border-right: 1px solid #66ddff;
}

.body > .main > .container ul.articles a,
.body > .main > .container ul.articles a:visited  {
	color: #66ddff;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	font-style: normal;
	margin-left: 5px;
	font-size: 11pt;
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .container ul.articles > li:hover a,
.body > .main > .container ul.articles > li:active a,
.body > .main > .container ul.articles > li:focus a {
	color: #FFF;
}

.body > .main .overlay:after {
	opacity: .8;
	background-color: #000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "Under Construction";
	text-align: center;
	color: #66ddff;	
	font-family: 'Roboto Condensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 42pt;
	padding-top: 25%;
	text-shadow: 0px 0px 2em rgba(102,221,255,1), 0px 0px .1em rgba(102,221,255,1);
}

.body > .main nav.breadcrumb {
	color: #ccc;
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 9pt;
	margin-top: 20px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.body > .main nav.breadcrumb > a,
.body > .main nav.breadcrumb > a:visited {
	color: #fff;
	text-decoration: none;
	padding: 3px;
	
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main nav.breadcrumb > a:hover,
.body > .main nav.breadcrumb > a:active,
.body > .main nav.breadcrumb > a:focus {
	background-color: #666;
}

.body > .main table.years {
	margin: 20px auto;
}

.body > .main table.years td {
	font-family:  Arial, "Trebuchet MS", sans-serif;
	font-size: 11pt;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	padding: 4px 0px;
	
}

.body > .main table.years td a,
.body > .main table.years td a:visited {
	opacity: 0.5;
	padding: 5px 6px;
	margin-right: 1px;
}

.body > .main table.years td a:hover,
.body > .main table.years td a:active,
.body > .main table.years td a:focus {
	color: #fff;
	border: none;
	opacity: 1;
}

.body > .main table.years .hasArticle {
	background-color: rgba(255,255,255,.1);
	font-weight: bold;
	opacity: 1;
}

.body > .main > .container #history {
	width: 820px; 
	list-style-type: none;
	background: url('../history/timeline.png') top center repeat-y; 
	margin: 0 auto;
	padding:0px 0; 
	margin-bottom:0px;
	position: relative;
	height: 2500px;
}

.body > .main > .container #history li {
	width:375px; height:180px;padding: 10px; background-color: rgba(255,255,255,.1);
	position: absolute;
}

.body > .main > .container #history li:nth-of-type(odd){
    clear: both; right: 0px; 
}

.body > .main > .container #history li:nth-of-type(even) .corner{
	position:absolute; display:block; margin-left:385px;width:20px;	height:15px;background:url('../history/right.png');
}

.body > .main > .container #history  li:nth-of-type(odd) .corner{
	position:absolute;display:block;margin-left:-30px;width:20px;height:15px;background:url('../history/left.png');
}

.body > .main > .container #history a {
	white-space: nowrap;
}








.body > .main > .footer {
	width: 850px;
	background-color: rgba(0,0,0,.3);
	padding: 20px;
	z-index: 8;
	height: 14pt;
}

.body > .main > .footer > p {
	margin: 0;
	font-family: 'Roboto Condensed', "Trebuchet MS", Verdana, sans-serif;
	font-size: 12pt;
	color: #c4d5db;
	width: 300px;
}

.body > .main > .footer > p.slogan {
	float:right;
	text-align:right;
	font-style:italic;
}

.body > .main > .footer > p > a,
.body > .main > .footer > p > a:visited {
	color: #66ddff;
	text-decoration: none;
	padding: 4px;
	cursor: pointer;
	
	/*Transition*/	
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.body > .main > .footer > p > a:hover,
.body > .main > .footer > p > a:active,
.body > .main > .footer > p > a:focus {
	background-color: rgba(255,255,255,.1);
	border-bottom: 1px solid #66ddff;
}

/*TEST*/
#s3slider {
    width: 890px; /* important to be same as image width */
    height: /*480*/ 500px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
}
 
#s3sliderContent {
    width: 890px; /* important to be same as image width or wider */
    position: absolute; /* important */
    top: 0; /* important */
    margin/*-left*/: 0; /* important */
	list-style: none;
	padding: 0;
}
 
.s3sliderImage {
    float: left; /* important */
    position: relative; /* important */
    display: none; /* important */
}
 
.s3sliderImage div {
	font-family:  Arial, "Trebuchet MS", sans-serif;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
    position: absolute; /* important */
    padding: 30px 20px;
    width: 300px;
    background-color: rgba(0,0,0,.4);
    opacity: 1; /* here you can set the opacity of box with text */
    color: #fff;
    display: none; /* important */	
}

.s3sliderImage .left {left: 50px;}	/* You can combine  .left/.right/.fullWidth  with  .top/.bottom/.fullHeight  */
.s3sliderImage .right {right: 50px;}
.s3sliderImage .fullWidth {width: auto!important; left: 50px; right: 50px;}
.s3sliderImage .top {top: 0; padding: 30px 20px 8px 20px;}
.s3sliderImage .bottom {bottom: /*41*/ 0px; padding: 4px 20px 34px 20px;}
.s3sliderImage .fullHeight {top: 0; bottom: /*41*/ 0px;}

.s3sliderImage div h3 {
	color: #9fd4e7;
	font-size: 11pt;
	font-weight: bold;
}

.s3sliderImage div p {
	color: #fff;
	font-size: 9pt;
	line-height: 1.5em;
}

.s3sliderImage div img {
	width: 300px;
}

.s3sliderImage div a:hover,
.s3sliderImage div a:active,
.s3sliderImage div a:focus {
	background-color: rgba(255,255,255,.2)!important; /*rgba(102,102,102,.4)!important;*/
}

.s3sliderImage .slideNumber {
	position: absolute; /* important */
	bottom: 0; 
	left: 0;
	font-size: 8pt;
	display: block;
	opacity: 0.3;
	padding: /*30px 20px 8px 20px*/ 10px 10px 14px 10px;
	margin: 0;
	background-color: rgba(0,0,0,.5);
	width: 30px;
	text-align: center;
}
 
.clear {
    clear: both;
}
/*TEST*/













/* --- Container configuration ---------------------------------------------------------- */
.viewport-container {margin: 20px 0 0 20px;}
.viewport {
    border: 0px solid rgba(0,0,0,.5);
    float: left;
    height: 250px;
    margin: 0;
	margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 420px;
}

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
   class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
    margin-right: -10px!important;
	margin-left: 10px!important;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.viewport a {
    display: block;
    position: relative;
	padding: 0px!important;
}

.viewport a img {
    height: 250px;

    position: relative;

}

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
    display: none;
    font-size: 2.0em;
    font-weight: bold;
    height: 100%;
    padding-top: 105px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 5;
}
    .viewport a span em {
        display: block;
        font-size: 0.45em;
        font-weight: normal;
    }

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}






/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	/*
		Powered by:
		
		Font Awesome (http://fortawesome.github.com/Font-Awesome/)
		Font Awesome More (http://gregoryloucas.github.com/Font-Awesome-More/)
	*/

	.icon
	{
		text-decoration: none;
	}

		.icon:before
		{
			font-size: 1.25em;
			text-decoration: none;
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			-webkit-text-rendering: optimizeLegibility;
			-moz-text-rendering: optimizeLegibility;
			-ms-text-rendering: optimizeLegibility;
			-o-text-rendering: optimizeLegibility;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			-o-font-smoothing: antialiased;
			font-smoothing: antialiased;
			-webkit-font-feature-settings: "liga" 1, "dlig" 1;
			-moz-font-feature-settings: "liga=1, dlig=1";
			-ms-font-feature-settings: "liga" 1, "dlig" 1;
			-o-font-feature-settings: "liga" 1, "dlig" 1;
			font-feature-settings: "liga" 1, "dlig" 1;
		}

		.icon-glass:before { content: "\f000"; }
		.icon-music:before { content: "\f001"; }
		.icon-search:before { content: "\f002"; }
		.icon-envelope:before { content: "\f003"; }
		.icon-heart:before { content: "\f004"; }
		.icon-star:before { content: "\f005"; }
		.icon-star-empty:before { content: "\f006"; }
		.icon-user:before { content: "\f007"; }
		.icon-film:before { content: "\f008"; }
		.icon-th-large:before { content: "\f009"; }
		.icon-th:before { content: "\f00a"; }
		.icon-th-list:before { content: "\f00b"; }
		.icon-ok:before { content: "\f00c"; }
		.icon-remove:before { content: "\f00d"; }
		.icon-zoom-in:before { content: "\f00e"; }

		.icon-zoom-out:before { content: "\f010"; }
		.icon-off:before { content: "\f011"; }
		.icon-signal:before { content: "\f012"; }
		.icon-cog:before { content: "\f013"; }
		.icon-trash:before { content: "\f014"; }
		.icon-home:before { content: "\f015"; }
		.icon-file:before { content: "\f016"; }
		.icon-time:before { content: "\f017"; }
		.icon-road:before { content: "\f018"; }
		.icon-download-alt:before { content: "\f019"; }
		.icon-download:before { content: "\f01a"; }
		.icon-upload:before { content: "\f01b"; }
		.icon-inbox:before { content: "\f01c"; }
		.icon-play-circle:before { content: "\f01d"; }
		.icon-repeat:before { content: "\f01e"; }

		/* \f020 doesn't work in Safari. all shifted one down */
		.icon-refresh:before { content: "\f021"; }
		.icon-list-alt:before { content: "\f022"; }
		.icon-lock:before { content: "\f023"; }
		.icon-flag:before { content: "\f024"; }
		.icon-headphones:before { content: "\f025"; }
		.icon-volume-off:before { content: "\f026"; }
		.icon-volume-down:before { content: "\f027"; }
		.icon-volume-up:before { content: "\f028"; }
		.icon-qrcode:before { content: "\f029"; }
		.icon-barcode:before { content: "\f02a"; }
		.icon-tag:before { content: "\f02b"; }
		.icon-tags:before { content: "\f02c"; }
		.icon-book:before { content: "\f02d"; }
		.icon-bookmark:before { content: "\f02e"; }
		.icon-print:before { content: "\f02f"; }

		.icon-camera:before { content: "\f030"; }
		.icon-font:before { content: "\f031"; }
		.icon-bold:before { content: "\f032"; }
		.icon-italic:before { content: "\f033"; }
		.icon-text-height:before { content: "\f034"; }
		.icon-text-width:before { content: "\f035"; }
		.icon-align-left:before { content: "\f036"; }
		.icon-align-center:before { content: "\f037"; }
		.icon-align-right:before { content: "\f038"; }
		.icon-align-justify:before { content: "\f039"; }
		.icon-list:before { content: "\f03a"; }
		.icon-indent-left:before { content: "\f03b"; }
		.icon-indent-right:before { content: "\f03c"; }
		.icon-facetime-video:before { content: "\f03d"; }
		.icon-picture:before { content: "\f03e"; }

		.icon-pencil:before { content: "\f040"; }
		.icon-map-marker:before { content: "\f041"; }
		.icon-adjust:before { content: "\f042"; }
		.icon-tint:before { content: "\f043"; }
		.icon-edit:before { content: "\f044"; padding-top: 1px; padding-left: 1px; }
		.icon-share:before { content: "\f045"; }
		.icon-check:before { content: "\f046"; }
		.icon-move:before { content: "\f047"; }
		.icon-step-backward:before { content: "\f048"; }
		.icon-fast-backward:before { content: "\f049"; }
		.icon-backward:before { content: "\f04a"; }
		.icon-play:before { content: "\f04b"; }
		.icon-pause:before { content: "\f04c"; }
		.icon-stop:before { content: "\f04d"; }
		.icon-forward:before { content: "\f04e"; }

		.icon-fast-forward:before { content: "\f050"; }
		.icon-step-forward:before { content: "\f051"; }
		.icon-eject:before { content: "\f052"; }
		.icon-chevron-left:before { content: "\f053"; }
		.icon-chevron-right:before { content: "\f054"; }
		.icon-plus-sign:before { content: "\f055"; }
		.icon-minus-sign:before { content: "\f056"; }
		.icon-remove-sign:before { content: "\f057"; }
		.icon-ok-sign:before { content: "\f058"; }
		.icon-question-sign:before { content: "\f059"; }
		.icon-info-sign:before { content: "\f05a"; }
		.icon-screenshot:before { content: "\f05b"; }
		.icon-remove-circle:before { content: "\f05c"; }
		.icon-ok-circle:before { content: "\f05d"; }
		.icon-ban-circle:before { content: "\f05e"; }

		.icon-arrow-left:before { content: "\f060"; }
		.icon-arrow-right:before { content: "\f061"; }
		.icon-arrow-up:before { content: "\f062"; }
		.icon-arrow-down:before { content: "\f063"; }
		.icon-share-alt:before { content: "\f064"; }
		.icon-resize-full:before { content: "\f065"; }
		.icon-resize-small:before { content: "\f066"; }
		.icon-plus:before { content: "\f067"; }
		.icon-minus:before { content: "\f068"; }
		.icon-asterisk:before { content: "\f069"; }
		.icon-exclamation-sign:before { content: "\f06a"; }
		.icon-gift:before { content: "\f06b"; }
		.icon-leaf:before { content: "\f06c"; }
		.icon-fire:before { content: "\f06d"; }
		.icon-eye-open:before { content: "\f06e"; }

		.icon-eye-close:before { content: "\f070"; }
		.icon-warning-sign:before { content: "\f071"; }
		.icon-plane:before { content: "\f072"; }
		.icon-calendar:before { content: "\f073"; }
		.icon-random:before { content: "\f074"; }
		.icon-comment:before { content: "\f075"; }
		.icon-magnet:before { content: "\f076"; }
		.icon-chevron-up:before { content: "\f077"; }
		.icon-chevron-down:before { content: "\f078"; }
		.icon-retweet:before { content: "\f079"; }
		.icon-shopping-cart:before { content: "\f07a"; }
		.icon-folder-close:before { content: "\f07b"; }
		.icon-folder-open:before { content: "\f07c"; }
		.icon-resize-vertical:before { content: "\f07d"; }
		.icon-resize-horizontal:before { content: "\f07e"; }

		.icon-bar-chart:before { content: "\f080"; }
		.icon-twitter-sign:before { content: "\f081"; }
		.icon-facebook-sign:before { content: "\f082"; }
		.icon-camera-retro:before { content: "\f083"; }
		.icon-key:before { content: "\f084"; }
		.icon-cogs:before { content: "\f085"; }
		.icon-comments:before { content: "\f086"; }
		.icon-thumbs-up:before { content: "\f087"; }
		.icon-thumbs-down:before { content: "\f088"; }
		.icon-star-half:before { content: "\f089"; }
		.icon-heart-empty:before { content: "\f08a"; }
		.icon-signout:before { content: "\f08b"; }
		.icon-linkedin-sign:before { content: "\f08c"; }
		.icon-pushpin:before { content: "\f08d"; }
		.icon-external-link:before { content: "\f08e"; }

		.icon-signin:before { content: "\f090"; }
		.icon-trophy:before { content: "\f091"; }
		.icon-github-sign:before { content: "\f092"; }
		.icon-upload-alt:before { content: "\f093"; }
		.icon-lemon:before { content: "\f094"; }
		.icon-phone:before { content: "\f095"; }
		.icon-check-empty:before { content: "\f096"; }
		.icon-bookmark-empty:before { content: "\f097"; }
		.icon-phone-sign:before { content: "\f098"; }
		.icon-twitter:before { content: "\f099"; padding-left: 2px; }
		.icon-facebook:before { content: "\f09a"; padding-left: 6px; }
		.icon-github:before { content: "\f09b"; }
		.icon-unlock:before { content: "\f09c"; }
		.icon-credit-card:before { content: "\f09d"; }
		.icon-rss:before { content: "\f09e"; }

		.icon-hdd:before { content: "\f0a0"; }
		.icon-bullhorn:before { content: "\f0a1"; }
		.icon-bell:before { content: "\f0a2"; }
		.icon-certificate:before { content: "\f0a3"; }
		.icon-hand-right:before { content: "\f0a4"; }
		.icon-hand-left:before { content: "\f0a5"; }
		.icon-hand-up:before { content: "\f0a6"; }
		.icon-hand-down:before { content: "\f0a7"; }
		.icon-circle-arrow-left:before { content: "\f0a8"; }
		.icon-circle-arrow-right:before { content: "\f0a9"; }
		.icon-circle-arrow-up:before { content: "\f0aa"; }
		.icon-circle-arrow-down:before { content: "\f0ab"; }
		.icon-globe:before { content: "\f0ac"; }
		.icon-wrench:before { content: "\f0ad"; }
		.icon-tasks:before { content: "\f0ae"; }

		.icon-filter:before { content: "\f0b0"; }
		.icon-briefcase:before { content: "\f0b1"; }
		.icon-fullscreen:before { content: "\f0b2"; }

		.icon-group:before { content: "\f0c0"; }
		.icon-link:before { content: "\f0c1"; }
		.icon-cloud:before { content: "\f0c2"; }
		.icon-beaker:before { content: "\f0c3"; }
		.icon-cut:before { content: "\f0c4"; }
		.icon-copy:before { content: "\f0c5"; }
		.icon-paper-clip:before { content: "\f0c6"; }
		.icon-save:before { content: "\f0c7"; }
		.icon-sign-blank:before { content: "\f0c8"; }
		.icon-reorder:before { content: "\f0c9"; }
		.icon-list-ul:before { content: "\f0ca"; }
		.icon-list-ol:before { content: "\f0cb"; }
		.icon-strikethrough:before { content: "\f0cc"; }
		.icon-underline:before { content: "\f0cd"; }
		.icon-table:before { content: "\f0ce"; }

		.icon-magic:before { content: "\f0d0"; }
		.icon-truck:before { content: "\f0d1"; }
		.icon-pinterest:before { content: "\f0d2"; }
		.icon-pinterest-sign:before { content: "\f0d3"; }
		.icon-google-plus-sign:before { content: "\f0d4"; }
		.icon-google-plus:before { content: "\f0d5"; }
		.icon-money:before { content: "\f0d6"; }
		.icon-caret-down:before { content: "\f0d7"; }
		.icon-caret-up:before { content: "\f0d8"; }
		.icon-caret-left:before { content: "\f0d9"; }
		.icon-caret-right:before { content: "\f0da"; }
		.icon-columns:before { content: "\f0db"; }
		.icon-sort:before { content: "\f0dc"; }
		.icon-sort-down:before { content: "\f0dd"; }
		.icon-sort-up:before { content: "\f0de"; }

		.icon-envelope-alt:before { content: "\f0e0"; }
		.icon-linkedin:before { content: "\f0e1"; }
		.icon-undo:before { content: "\f0e2"; }
		.icon-legal:before { content: "\f0e3"; }
		.icon-dashboard:before { content: "\f0e4"; }
		.icon-comment-alt:before { content: "\f0e5"; }
		.icon-comments-alt:before { content: "\f0e6"; }
		.icon-bolt:before { content: "\f0e7"; }
		.icon-sitemap:before { content: "\f0e8"; }
		.icon-umbrella:before { content: "\f0e9"; }
		.icon-paste:before { content: "\f0ea"; }
		.icon-lightbulb:before { content: "\f0eb"; }
		.icon-exchange:before { content: "\f0ec"; }
		.icon-cloud-download:before { content: "\f0ed"; }
		.icon-cloud-upload:before { content: "\f0ee"; }

		.icon-user-md:before { content: "\f0f0"; }
		.icon-stethoscope:before { content: "\f0f1"; }
		.icon-suitcase:before { content: "\f0f2"; }
		.icon-bell-alt:before { content: "\f0f3"; }
		.icon-coffee:before { content: "\f0f4"; }
		.icon-food:before { content: "\f0f5"; }
		.icon-file-alt:before { content: "\f0f6"; }
		.icon-building:before { content: "\f0f7"; }
		.icon-hospital:before { content: "\f0f8"; }
		.icon-ambulance:before { content: "\f0f9"; }
		.icon-medkit:before { content: "\f0fa"; }
		.icon-fighter-jet:before { content: "\f0fb"; }
		.icon-beer:before { content: "\f0fc"; }
		.icon-h-sign:before { content: "\f0fd"; }
		.icon-plus-sign-alt:before { content: "\f0fe"; }

		.icon-double-angle-left:before { content: "\f100"; }
		.icon-double-angle-right:before { content: "\f101"; }
		.icon-double-angle-up:before { content: "\f102"; }
		.icon-double-angle-down:before { content: "\f103"; }
		.icon-angle-left:before { content: "\f104"; }
		.icon-angle-right:before { content: "\f105"; }
		.icon-angle-up:before { content: "\f106"; }
		.icon-angle-down:before { content: "\f107"; }
		.icon-desktop:before { content: "\f108"; }
		.icon-laptop:before { content: "\f109"; }
		.icon-tablet:before { content: "\f10a"; }
		.icon-mobile-phone:before { content: "\f10b"; }
		.icon-circle-blank:before { content: "\f10c"; }
		.icon-quote-left:before { content: "\f10d"; }
		.icon-quote-right:before { content: "\f10e"; }

		.icon-spinner:before { content: "\f110"; }
		.icon-circle:before { content: "\f111"; }
		.icon-reply:before { content: "\f112"; }
		.icon-github-alt:before { content: "\f113"; }
		.icon-folder-close-alt:before { content: "\f114"; }
		.icon-folder-open-alt:before { content: "\f115"; }

		.icon-blogger-sign:before,.icon-blogger:before,.icon-delicious:before,.icon-dribbble-sign:before,.icon-dribbble:before,.icon-dropbox:before,.icon-drupal:before,.icon-evernote-sign:before,.icon-evernote:before,.icon-flickr-sign:before,.icon-flickr:before,.icon-forrst-sign:before,.icon-forrst:before,.icon-foursquare-sign:before,.icon-foursquare:before,.icon-git-fork:before,.icon-hacker-news:before,.icon-instagram:before,.icon-lastfm-sign:before,.icon-lastfm:before,.icon-paypal:before,.icon-picasa-sign:before,.icon-picasa:before,.icon-reddit:before,.icon-share-this-sign:before,.icon-share-this:before,.icon-skype:before,.icon-soundcloud:before,.icon-spotify:before,.icon-stack-overflow:before,.icon-tumblr-sign:before,.icon-tumblr:before,.icon-vimeo-sign:before,.icon-vimeo:before,.icon-wordpress-sign:before,.icon-wordpress:before,.icon-yelp-sign:before,.icon-yelp:before,.icon-youtube-sign:before,.icon-youtube:before {font-family:'Font-Awesome-Social'; }

		.icon-dropbox:before { content: "\f300"; }
		.icon-drupal:before { content: "\f301"; }
		.icon-git-fork:before { content: "\f302"; }
		.icon-instagram:before { content: "\f303"; }
		.icon-share-this-sign:before { content: "\f304"; }
		.icon-share-this:before { content: "\f305"; }
		.icon-foursquare-sign:before { content: "\f306"; }
		.icon-foursquare:before { content: "\f307"; }
		.icon-hacker-news:before { content: "\f308"; }
		.icon-skype:before { content: "\f309"; }
		.icon-spotify:before { content: "\f30a"; }
		.icon-soundcloud:before { content: "\f30b"; }
		.icon-paypal:before { content: "\f30c"; }
		.icon-youtube-sign:before { content: "\f30d"; }
		.icon-youtube:before { content: "\f30e"; }
		.icon-reddit:before { content: "\f30f"; }
		.icon-blogger-sign:before { content: "\f310"; }
		.icon-blogger:before { content: "\f311"; }
		.icon-dribbble-sign:before { content: "\f312"; }
		.icon-dribbble:before { content: "\f313"; }
		.icon-evernote-sign:before { content: "\f314"; }
		.icon-evernote:before { content: "\f315"; }
		.icon-flickr-sign:before { content: "\f316"; }
		.icon-flickr:before { content: "\f317"; }
		.icon-forrst-sign:before { content: "\f318"; }
		.icon-forrst:before { content: "\f319"; }
		.icon-delicious:before { content: "\f31a"; }
		.icon-lastfm-sign:before { content: "\f31b"; }
		.icon-lastfm:before { content: "\f31c"; }
		.icon-picasa-sign:before { content: "\f31d"; }
		.icon-picasa:before { content: "\f31e"; }
		.icon-stack-overflow:before { content: "\f320"; }
		.icon-tumblr-sign:before { content: "\f321"; }
		.icon-tumblr:before { content: "\f322"; }
		.icon-vimeo-sign:before { content: "\f323"; }
		.icon-vimeo:before { content: "\f324"; }
		.icon-wordpress-sign:before { content: "\f325"; }
		.icon-wordpress:before { content: "\f326"; }
		.icon-yelp-sign:before { content: "\f327"; }
		.icon-yelp:before { content: "\f328"; }









/* common 
html, body { margin:0; padding:0; }
#bar { position:absolute; }
#wrap { position:relative; }
.left, .right span { float:left; }
.right, .left span { float:right; }
.row, .row span span, #padder { display:block; }
#wrap { overflow:auto; }
html, #inner { overflow:hidden; }

/* main
html, body, #wrap, #bar { height:100%; }
html, body, #wrap { width:100%; }
#bar { width:4px; }
.row { margin:7px 0; }
.row, .row span { height:200px; }
.row span { width:50%; }
.text span { height:50px; width:80%; margin:75px 0; }
.box span { height:200px; width:200px; }
.row.title, .row.title span { height:2em; }

/* positioning 
html, #wrap { width:100%; }
#bar { left:50%; margin-left:-10px; z-index:2; }
.left { left:-2%; }
.right { right:-2%; }

/* background 
.row span span { background-color:#CCCCCC; }
#bar { background:#000000; }

/* typo
.left { text-align:right; }
.right { text-align:left; }

/* safari and chrome 
.row { -webkit-transform-style: preserve-3d; }

/* doesn't matter 
body { font-family: Verdana, sans-serif; }
.row span { font-size:120%; text-transform:uppercase; letter-spacing:3px; }
.row span span { font-size:50%; text-transform:none; letter-spacing:0; }
