
@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size:16pt;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size:18pt;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size:20pt;	
	font-weight:500;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.float-farright{
	float: right;
	margin: 0 20px 0 0;
}


.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(images/back1.png) 50% 0 no-repeat fixed;
	color: white;
	height: 700px;
	margin: 0 auto;
	overflow: hidden;
	padding: 30;
}

#second{
	background: url(images/snowstep.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 30;
}

#intro .bg{
	background: url(images/logo.png) 50% 0 no-repeat fixed;
	height: 700px;
	margin: 0 auto;
	padding: 800;
	position: absolute;
	width: 1300px;
	z-index: 200;
}

#third{
	background: url(images/air.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 550px;
	margin: 0 auto;
	overflow: hidden;
	padding: 30;	
}

#fourth{
	background: url(images/war.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0px 0 0 0;	
}

#fourth2{
	background: url(images/town.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 700px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0px 0 0 0;	
}

#fourth3{
	background: url(images/rebuild.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 900px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0px 0 0 0;	
}

#fourth .bg2{
	background: url(images/rebuild.jpg) 50% 0 no-repeat fixed;
	height: 900px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1920px;
	z-index: 200;
}

#fourth2 .bg3{
	background: url(images/balls.png) 50% 0 no-repeat fixed;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 800px;
	z-index: 200;
}

#fifth{
	background: url(images/building.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 600px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

#sixth{
	background: url(images/art.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 600px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

#seventh{
	background: url(images/clock.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

#eigth{
	background: black;
	color: white;
	height: 450px;
	margin: 0 auto;
	padding: 0px 0 0 0;
}

#eigth .bg4{
	background: url(images/flag.png) 50% 0 no-repeat fixed;
	height: 450px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1200px;
	z-index: 200;
}

#ninth{
	background: url(images/cooky.jpg) 50% 0 no-repeat fixed;
	color: black;
	height: 500px;
	margin: 0 auto;
	padding: 0px 0 0 0;
}


#tenth{
	background: black;
	color: white;
	height: 550px;
	margin: 0 auto;
	padding: 85px 0 0 0;
}


.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}
