* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.clear { 
    clear: both; 
    height: 0px; 
    overflow: hidden; 
}

p, h1, h2, h3, a, ul {
    transition: all 0.2s;
}

html {
    background: #000 url('/assets/img/tpl/bg.jpg') no-repeat center top fixed;
    background-size: 1920px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
}

.topbar {
    width: 100%;
    background-color: rgba(255,255,255,0.15);
    color: #fff;
    position: relative;
}

.topbar li {
    list-style: none;
    display: inline;
    margin-left: -5px;
}

.topbar a {
    display: inline-block;
    padding: 15px 25px 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 3px solid transparent;
}

.topbar a:hover {
    background-color: rgba(255,255,255,0.1);
    border-bottom: 3px solid #4bd5f3;
}

.topbar > a.mobile {
    display: none;
    font-size: 24px;
    padding: 10px 20px 7px;
}

.topbar > a.mobile.search {
    float: right;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: none;
    position: absolute;
    top: 0;
    right: 0;
}

header {
    width: 100%;
    height: auto;
    padding: 20px 0;
    margin-bottom: 120px;
}

header .logo {
    margin: 0 auto;
    padding: 50px;
    width: 536px;
    max-width: 100%;
}

header a {
    margin: 0 auto;
    text-align: center;
}

header .logo img {
    width: 436px;
    height: 187px;
}

.row {
    width: 100%;
    background-color: rgba(30,30,30,0.75);
    padding: 30px 0;
    color: #fff;
    margin-bottom: 50px;
}

.row .col {
    
    width: 768px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row .col.carousel {
    width: 100%;
    padding: 0 10px;
}

.row .col.wide {
    width: 1020px;
}

.row .col.carousel .item img {
    width: 100%;
    height: auto;
    display: block;
}

.row .col.carousel .item {
    margin: 0 10px;
}

.row h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 46px;
    margin-bottom: 15px;
}

.row h1, .row h2 {
    font-weight: 700;
}

.row h2 {
    color: #a9cde1;
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.row h3 {
    color: #a9cde1;
    font-size: 24px;
}

.row p {
    line-height: 24px;
    margin-bottom: 15px;
}

.row a.btn {
    display: inline-block;
    padding: 15px 25px;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.row a.btn.large {
    width: 345px;
    text-align: center;
    padding: 12px 0 15px;
    margin: 10px 0;
    font-size: 36px;
    /* border-top: 3px solid transparent; */
    background-color: #999;
}

.row a.btn.large:hover,
.row a.btn.large:active,
.row a.btn.large:focus {
    /* border-top: 3px solid #4bd5f3; */
    background-color: #f80;
}

.row a.btn.left {
    float: left;
}

.row a.btn.right {
    float: right;
}

.row .buttons:before,
.row .buttons:after {
    content: " ";
    display: table;
}
.row .buttons:after {
    clear: both;
}

.row .float-left {
    float: left;
    margin: 5px 25px 15px 0; 
}

.row .float-right {
    float: right;
    margin: 5px 0 15px 25px; 
}

.row figcaption {
    display: block;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
    font-style: italic;
    color: #aaa;
    font-size: 14px;
}


@media (min-height: 1080px) or screen (min-width: 1921px) {
    html {
        background-size: cover;
    }
}

@media (max-width: 767px) {
    html {
        background-image: none;
        background-color: #111;
    }
    .row .col {
        width: 100%!important;
    }
    .row a.btn.large {
        width: 100%;
    }
    header {
        margin-bottom: 0;
    }
    header .logo {
        padding: 10px 50px;
    }
    header .logo img {
        width: 100%;
        height: auto;
    }
    .topbar ul {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 80%;
        background-color: #444;
        opacity: 0;
        display: none;
    }
    .topbar ul.visible {
        opacity: 1;
        height: auto;
    }
    
    .topbar ul li {
        width: 100%;
        display: block;
        margin: 0;
    }
    .topbar ul li a {
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        border-right: 3px solid transparent;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    .topbar ul li a:hover {
        border-right: 3px solid #4bd5f3;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    .topbar > a.mobile {
        display: inline-block;
    }
    .row h1.main-title {
        font-size: 36px;
        float: left;
        height: 0;
        margin-left: -9999px;
    }
    .row p {
        color: #bbb;
    }
    .row .responsive {
        width: 100%;
        margin: 0 0 10px;
    }
    
    .row .responsive img {
        width: 100%;
    }
    
}